package-lock=false
registry=http://159.69.117.25:4873/
//159.69.117.25:4873/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1lIjoiZGV2IiwiZ3JvdXBzIjpbImRldiIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJyZWFsX2dyb3VwcyI6WyJkZXYiXSwiZ3JvdXAiOlsiZGV2Il0sImlhdCI6MTU0NzQ2Mzk0NSwibmJmIjoxNTQ3NDYzOTQ1LCJleHAiOjE2MTA1MzU5NDV9.5vG62h0JgmDVbFPNCEY1Nyq3rtWD_SQeKvg4cOAfJMw
