.MarkdownEditor {
  & .CodeMirror {
    padding: 0;
    margin: 0 -4px;
    border: none;
    border-radius: 0;
    color: #333;
    background: none;
  }

  & .CodeMirror-scroll {
    min-height: 350px;

    @media (max-width: 576px) {
      max-width: 100% !important;
      width: 100%;
    }
  }

  &_comment {
    & .CodeMirror,
    & .CodeMirror-scroll {
      min-height: 3em;
    }
  }

  & .CodeMirror-lines {
    font-size: 1rem;
    line-height: 1.56;
  }

  &_comment .CodeMirror-lines {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
  }

  & .cm-formatting-strikethrough {
    text-decoration: none !important;
  }

  & .CodeMirror-focused .CodeMirror-placeholder {
    opacity: 0.2;
  }
}
