@import './normalize';
@import './extends';
@import './common';
@import './App';

// cards
@import './cards/MarkdownViewer';

// elements
@import './elements/Button';
@import './elements/GeneratedPasswordInput';
@import './elements/Icon';
@import './elements/LoadingIndicator';
@import './elements/TickerPriceStat';
@import './elements/common/YoutubePlayer/YoutubePlayer';
@import './elements/about/WhatIsGolos/WhatIsGolos';
@import './elements/about/LandingTeam/LandingTeam';
@import './elements/about/LandingPartners/LandingPartners';
@import './elements/common/Button/index';
@import './elements/common/Input/index';
@import './elements/common/RadioGroup/index';
@import './elements/common/Hint/index';
@import './elements/common/HintIcon/HintIcon';
@import './elements/common/DialogManager/index';
@import './elements/common/TooltipManager/index';

// dialogs
@import './dialogs/DialogFrame/index';
@import './dialogs/CommonDialog/index';
@import './dialogs/AddImageDialog/index';
@import './dialogs/LinkOptionsDialog/index';

// pages
@import './pages/Landing';
@import './pages/Landings/Start';
@import './pages/LeavePage';
@import './pages/SubmitPost';
@import './pages/Privacy';
@import './pages/TagsIndex';
@import './pages/Tos';
