body.submit-page {
  &,
  #content,
  .App,
  .PostForm {
    height: 100%;
  }

  .App__content {
    height: calc(100% - 60px);
  }
}

.App {
  overflow-x: hidden;
}

.SubmitPost {
  padding: 25px 0 1rem;
}
