.VotingButton {
  path {
    fill: #4ba2f2;
  }
  circle {
    stroke: #4ba2f2;
  }

  .Icon {
    margin-left: 0;
    border-radius: 50%;

    &:hover {
      box-shadow: 0 0 0 rgba(75, 162, 242, 1);
      animation: pulse 2s infinite;
    }
  }

  &_upvoted {
    path {
      fill: #fefefe !important;
    }

    circle {
      fill: #4ba2f2;
      stroke: #4ba2f2;
    }

    .VotingButton__link:hover {
      path {
        fill: #fefefe !important;
      }

      circle {
        fill: #258deb;
        stroke: #258deb;
      }
    }

    .Icon:hover {
      animation: none !important;
    }
  }
}

.VotingButton__link {
  padding-right: 0.5rem;

  &:hover {
    path {
      fill: #fefefe;
    }

    circle {
      fill: #4ba2f2;
      stroke: #4ba2f2;
    }

    svg {
      background-size: contain;
      border-radius: 50%;
    }
  }
}

/* Pulse for upvote action */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(75, 162, 242, 2);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}
