body {
  overflow-x: hidden;
}

body.submit-page {
  &,
  #content,
  .App {
    height: 100%;
  }

  .App__content {
    min-height: calc(100% - 60px);
  }
}

.SubmitPost {
  padding: 25px 0 1rem;
}
