
.PostTitle {
  position: relative;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  &__input {
    display: block;
    width: 100%;
    border: none;
    background: none;
    outline: none !important;
    color: #343434;
    font-weight: 500;
    font-size: 2rem;
    line-height: 40px;
    -webkit-font-smoothing: antialiased;

    &::placeholder {
      color: #999;
    }
  }
}
